body {
    background-color: #d5dfea;
    margin: 0;
    padding: 0;

}


.nav-bar {
    background-color: #d5dfea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 1px;
    padding: 0;
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.nav-bar a {
    color: #373F51;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    transition: all 0.3s ease; 
    padding: 0;
}

.nav-bar a:hover {
    background-color: #c9c9c9;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    color: #26282a;
    font-weight: bold;
}

.nav-bar img {
    width: 250px; 
    height: auto; 
    padding: 0;
    padding-bottom: 30px;
    margin-top: 30px;
}

.primer_imagen {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: url("../images/images/Primer_Fondo.png");   
    background-size: cover;
    background-position: top;
    box-shadow: 0px 0px 10px #3f3d3d;

}

.primer_titulo {
    color: #c9c9c9;
    font-family: sans-serif;
    margin-top: 0px;
    padding-top: 100px;
    font-size: 50px;
    font-weight: 900; 
    text-align: center;
}

.opacidad {
    height: 100%;
    width: 100%;
    padding:0;
    margin: 0;
    background-color: rgba(99, 98, 98, 0.667);
}

.section_dos {
    background-color: #d5dfea; 
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px #575656;
}

.section_dos h2 {
    text-align: center;
    font-size: 24px;
    color: #373F51;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.text {
    flex: 1;
}

.text h3 {
    font-size: 20px;
    color: #373F51;
}

.text p {
    font-size: 16px;
    line-height: 1.5;
    color: #373F51;
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.section_tres {
    background-color: #d5dfea; 
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px #575656;
}

.section_tres h2 {
    text-align: center;
    font-size: 24px;
    color: #373F51;
}

.content_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.content_2 a {
    flex: 1;
    text-align: center;
}

.content_2 img {
    max-width: 100px;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}


.contactanos-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #373F51;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contactanos-btn:hover {
    background-color: #575656;
    transform: scale(1.1);
}

.footer {
    background-color: #d5dfea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
    border-radius: 10px;
    border-top: 1px solid #656060;
    box-shadow: 0px 0px 10px #575656;

}

.footer-content, .footer-links, .footer-social, .footer-copyright {
    flex: 1;
    text-align: center;
}

.footer-copyright {
    flex-basis: 100%;
    text-align: right;
    margin-top: 10px;
    color: #26282a;
}

.img_logotipo {
    height: 150px;
}

.footer-links a, .footer-social a {
    margin: 0 10px;
    text-decoration: none;
    color: #26282a; 
}

.footer-social img {
    height: 30px; 
}

.footer-links a:hover, .footer-social a:hover {
    color: #c9c9c9; 
}

